<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<form action="answers" method="post">
<% for(var i in set){ %>
<div><%= set[i][0] %><br>
<% for(var poss_idx in set[i][1]){ %>
<input type="radio" name="answers[<%=i%>]" value="<%=poss_idx%>"
id="id_<%=i%>_<%=poss_idx%>"><label for="id_<%=i%>_<%=poss_idx%>">
<%=[set[i][1][poss_idx]]%></label><br>
<% } %>
</div>
<% } %>
<input type="submit">
</form>
